{
  "presets": [
    ["env", { "modules": false }],
    "stage-0",
    "react"
  ],
  "ignore": "test.js",
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}